*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
target*.project
*.settings
*.gitignore
*target
.gitignore
extensions/mongodb/.checkstyle
extensions/mongodb/.factorypath
.gitignore
extensions/mongodb/.pmd
extensions/mongodb/META-INF
